.reveal {
    display: none;
}

#frog__mouth {
    top: 50%;
    transform: translateX(0);
    background: #ff9a00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    height: 120px;
    animation: animate 2s ease-in;
}
@media (min-width: 768px) {
    .reveal {
        border: none;
        border-radius: 10px;
        display: block;
        margin-left: 10px;
        padding: 1rem;
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        background-color: #ff9a00;
        cursor: pointer;
    }
    
    .resume.frogified {
        border: none;
        box-shadow: none;
    }
    
    .resume.frogified .resume__block {
        border-bottom: none;
    }
    
    .switching_frog, .erasing {
        position: absolute;
    }
    
    .switching_frog * {
        display: none;
    }
    
    .show {
        opacity: 1;
        transition: opacity 1s ease-in;
    }
    
    .hide {
        opacity: 0;
    }
    
    .switching_resume * {
        opacity: 1;
        transition: all 1s;
    }
    
    #frog__head.switching_frog {
        width: 300px;
        height: 200px;
        left: 50%;
        transform: translateX(-50%);
        top: 112px;
        background-color: #5E967F;
        border-radius: 100px;
        transition: all 0.5s ease-in;
    }
    
    #frog__head.switching_resume {
        transform: translateX(0);
        background-color: transparent;
        border-radius: 0;
        transition: transform 0.8s ease-in;
    }
    
    
    #frog__mouth.switching_frog {
        width: 120px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
        top: 200px;
        background: #8D4545;
        border-radius: 0px 0px 60px 60px;
        border: none;
        transition: all 0.5s ease-in, border-radius 2s ease-in;
        animation: talk 10s infinite;
    }
    
    @keyframes talk {
        0% {
            width: 120px;
            height: 60px;
            border-radius: 0px 0px 60px 60px;
            transform: translate(-50%, 0);
        }
        25% {
            width: 60px;
            border-radius: 60px;
            transform: translate(-100%, -10px);
        }
        50% {
            width: 160px;
            height: 70px;
            border-radius: 0px 0px 80px 80px;
            transform: translate(-50%, 0);
        }
        75% {
            width: 60px;
            border-radius: 60px;
            transform: translate(0, -10px);
        }
        100% {
            width: 120px;
            height: 60px;
            border-radius: 0px 0px 60px 60px;
            transform: translate(-50%, 0);
        }
    }
    #frog__mouth.switching_resume {
        top: 50%;
        transform: translateX(0);
        background: #ff9a00;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;
        height: 120px;
        animation: animate 2s ease-in;
    }
    
    @keyframes animate {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(150px);
        }
        100% {
            position: static;
            transform: translateX(0);
        }
    }
    
    #frog__left-arm.switching_frog {
        z-index: 1;
        width: 100px;
        height: 253.27px;
        left: 50%;
        top: 310px;
        background: #6BAF92;
        border-radius: 100px;
        transform: rotate(0deg) translate(50px, 0);
        transition: all 0.5s ease-in;
    }
    
    #frog__left-arm.switching_resume {
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translate(0, 0);
        transition: transform 2s ease-in;
        width: fit-content;
    }
    
    #frog__right-arm.switching_frog {
        width: 100px;
        height: 253.27px;
        left: 50%;
        top: 310px;
        background: #6BAF92;
        border-radius: 100px;
        transform: rotate(0deg) translate(-150px, 0);
        transition: all 0.5s ease-in;
    }
    
    #frog__right-arm.switching_resume {
        background: transparent;
        border-bottom: 3px solid var(--border-color);
        padding-bottom: 30px;
        margin-bottom: 15px;
        transform: translate(0, 0);
        transition: transform 1.2s ease-in;
    }
    
    #frog__corps.switching_frog {
        width: 500px;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
        top: 270px;
        background-color: #5E967F;
        border-radius: 200px 200px 0px 0px;
        transition: all 0.5s ease-in;
    }
    
    #frog__corps.switching_resume {
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        border-bottom: 3px solid var(--border-color);
        padding-bottom: 30px;
        margin-bottom: 15px;
        background-color: transparent;
        border-radius: 0px;
        transform: translateX(0);
        transition: transform 1s ease-in;
    }
    
    #frog__right-leg.switching_frog {
        width: 200px;
        height: 200px;
        left: 50%;
        transform: translateX(-350px);
        top: 370px;
        background: #5FA185;
        border-radius: 100px 100px 0px 200px;
        transition: transform 1s ease-in;
    }
    
    #frog__right-leg.switching_resume {
        flex: 1 1 60%;
        margin-right: 50px;
        transform: translate(0,0);
        transition: transform 1.5s ease-in;
    }
    
    #frog__left-leg.switching_frog {
        width: 200px;
        height: 200px;
        left: 50%;
        transform: translateX(150px);
        top: 370px;
        background: #5FA185;
        border-radius: 100px 100px 200px 0px;
        transition: transform 1s ease-in;
    }
    
    #frog__left-leg.switching_resume {
        margin-bottom: 20px;
        transform: translate(0,0);
        transition: transform 1.7s ease-in;
    }
    
    #frog__right-foot.switching_frog {
        z-index: 1;
        width: 200px;
        height: 100px;
        left: 50%;
        transform: translateX(-320px);
        top: 535px;
        background: #5FA185;
        border-radius: 100px 100px 0px 0px;
    }
    
    .frog__foot-left.show {
        width: 200px;
        height: 100px;
        left: 50%;
        transform: translateX(120px);
        top: 535px;
        background: #5FA185;
        border-radius: 100px 100px 0px 0px;
    }
    
    .frog__nostril.show {
        width: 10px;
        height: 10px;
        left: 50%;
        top: 177px;
        background-color:  #3A355C;
        border-radius: 40px;
    }
    
    .frog__nostril.frog__nostril-left.show {
        transform: translateX(-20px);
    }
    
    .frog__nostril.frog__nostril-right.show {
        transform: translateX(20px);
    }
    
    .frog__eye.show {
        opacity: 1;
        width: 100px;
        height: 100px;
        left: 50%;
        top: 62px;
        border: 20px solid #638979;
        background-color: #3A355C;
        border-radius: 50%;
        transition: all 0.7s ease-in;
    }
    
    .frog__eye.hide {
        transform: translateY(-500px) scale(3);
        border-radius: 50%;
        opacity: 0;
        transition: all 0.3s ease-in;
    }
    
    .frog__eye.show::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        left:50%;
        transform: translateX(-50%);
        bottom: 0;
        background-color: #fff;
        border-radius: 50%;
        animation: roll-eyes 2s ease-in infinite;
    }
    
    @keyframes roll-eyes {
        0% {
            width: 40px;
            height: 40px;
            transform: translate(-20px,-20px);
        }
        50% {
            width: 30px;
            height: 30px;
            transform: translate(-40px,-20px);
        }
        75% {
            width: 30px;
            height: 30px;
            transform: translate(-30px,-20px);
        }
        100% {
            width: 40px;
            height: 40px;
            transform: translate(-20px,-20px);
        }
    }
    
    .frog__eye.frog__eye-left.show {
        transform: translateX(-130px);
    }
    
    .frog__eye.frog__eye-right.show {
        transform: translateX(30px);
    }
    
    .frog__hand.show {
        width: 150px;
        height: 100px;
        left: 50%;
        top: 535px;
        background: #6BAF92;
        border-radius: 100px 100px 0px 0px;
    
    }
    
    .frog__hand.frog__hand-left.show {
        transform: translateX(30px);
    }
    
    .frog__hand.frog__hand-right.show {
        z-index: 1;
        transform: translateX(-180px);
    }
    
    .frog__shadow.show {
        width: 700px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
        top: 620px;
        background: radial-gradient(50% 50% at 50% 50%, #2D493D 0%, #82938C 67%, #FFFFFF 100%);
        border-radius: 100px;
    }
}
